/* Any custom CSS you would like to specify for your site can go here. */

:root {
    --danger: red;
    --valid: green;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* MAIN CONTENT CONTAINTER */
main.container {
    flex:1;
}

/* LOGIN FORM */

/* FORM STYLINGS */
.form_error {
    color: var(--danger);
}
.form_valid {
    color: var(--valid);
}
.table_row_muted, .table_row_muted>* {
    color: #212529bf !important;
}